

:root{



}

html {
    font-size:62.5%;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* .wrapper{
  max-width:375px;


} */

img{
  max-width:100%;
}



.container {
padding:0 2rem;
  font-family: 'Plus Jakarta Sans', sans-serif;

}
nav,footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
}

nav button {
  background: #13183f;
  border-radius: 2rem;
  color: #fff;

  padding: 0.5rem 2rem;
}

header h1 {
  font-size:4rem;
    color:#13183F;
}

header p {
  font-size:1.6rem;
  line-height: 2.6rem;
  padding: 2rem 0;
}

header button {

  background: linear-gradient(to bottom,#ff6f48, #f02AA6);
  padding: 1rem 3rem;
  border-radius: 5rem;
  color: #fff;
  border:none;
}

.popular-courses{
    background: linear-gradient(to bottom,#ff6f48, #f02AA6);

    padding: 3rem;
    border-radius: 2rem;
color:#fff;
    margin-bottom: 2rem;

}
.popular-courses h2{
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.box{
  position:relative;
      padding: 5rem 0;
      margin-left: 1.7rem;
box-shadow: 0px 2.5rem 5rem 0px rgba(6, 22, 141, 0.04);
}

.box h3 {
  font-size:2rem;
  line-height:2.52rem;
    padding: 3.2rem 0;

}

.box p {
  font-size:1.6rem;
  line-height:2.6rem;
    padding: 1rem 0;
    color:#83869a;
}

.animation:before{
  content:"";

  background-image:url('./assets/icon-animation.svg');

  width: 5.6rem;
  height: 5.6rem;

  background-size:cover;
  position:absolute;
  top: 0;
}




.design:before{
  content:"";

  background-image:url('./assets/icon-design.svg');

  width: 5.6rem;
  height: 5.6rem;
  background-size:cover;
  position:absolute;
  top: 0;
}

.photography:before{
  content:"";

  background-image:url('./assets/icon-photography.svg');

  width: 5.6rem;
  height: 5.6rem;
  background-size:cover;
  position:absolute;
  top: 0;
}

.crypto:before{
  content:"";

  background-image:url('./assets/icon-crypto.svg');

  width: 5.6rem;
  height: 5.6rem;
  background-size:cover;
  position:absolute;
  top: 0;
}

.business:before{
  content:"";

  background-image:url('./assets/icon-business.svg');

  width: 5.6rem;
  height: 5.6rem;
  background-size:cover;
  position:absolute;
  top: 0;
}

.box a {
  font-size:1.8rem;
  line-height:2.8rem;
  font-weight:700;
  color:#f74780;
  text-decoration: none;
}

.footer-container{
  display: flex;
  width: 90%;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}
footer{
  background:#13183f;
  display:flex;


}

footer button {
  background: linear-gradient(to bottom,#4851ff, #f02aa6);
  padding: 1rem;
  color: #fff;
  border-radius: 5rem;
}

@media (min-width:700px){


/* .wrapper{
  max-width:768px;
} */

header{
  display:flex;

}

/* .section-1 {
  width:51.8299166%;
}
.header-img {
  flex:1;
} */

.main-wrapper{
  display:flex;
  flex-wrap:wrap;
}

.main-wrapper div{

}


}

@media (min-width:900px){

.wrapper{
      max-width:1440px;
      margin:auto;
}
  .container{
overflow:hidden;
    margin:auto;
padding-left:16.5rem;
      padding-right:16.5rem;
  }


nav {
padding-top:2.9rem;
    padding-bottom: 178px;
}
    nav button {
        width:16.7rem;
    height: 5.6rem;
        padding:0;
        border-radius:2.8rem;
        font-size:1.8rem;
        font-weight:700;
        line-height:2.8rem;
    }
    header h1{
    font-size:5.6rem;
        font-weight:800;
  }
header{
        padding-bottom: 25rem;
}

.section-1 {
  width: 45.7em;
}

.section-1 p {
    padding-right: 4.8rem;
    color:#83869A;
}

  header button {
    font-size:1.8rem;
    width: 16.7rem;
height: 6.3rem;
border-radius: 3.15rem;
  }
  .header-img {

    /* left: 40rem; */

  }
  .box {
    /* display:flex;
    flex-direction: column; */

  }

.popular-courses h2{
  font-size:3.2rem;
  font-weight:800;
  line-height:4rem;
      padding-top: 3.2rem;
}
.box h3{
  font-size:2.4rem;
  font-weight:800;

}
.box p {
  font-size:1.8rem;
  line-height:2.8rem;
  }

  .main-wrapper div {

      width:35rem;

  }

  footer button {
    padding:1rem 3rem;
  }


  main{
    padding-bottom:14rem;
  }
}
